{% extends 'base.html.twig' %}

{% block title %}Bienvenue Sur JobbY{% endblock %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
<main>
    <section>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </section>
</main>
{% endblock %}

