
<h3>Madame, Mademoiselle, Monsieur, {{mail}}</h3>

<p>Nous  accusons réception de votre offre de collaboration et nous vous remercions de l’intérêt que vous portez à la société.</p>

<p>Votre dossier sera traité dans les plus brefs délais.</p>

<p>Cependant, si vous n’avez pas de nouvelles de notre part dans les trois semaines qui suivent ce courrier, veuillez considérer que nous ne sommes pas en mesure de répondre favorablement à votre candidature.</p>

<p>Nous vous prions d’agréer, Madame, Mademoiselle, Monsieur, nos salutations les meilleures.</p>

<cite>Jobby Partenaire de l'emplois</cite>